ThemeManifest(
    themes: [
        ThemeManifestEntry(
            path: "themes/default.theme.ron",
            name: "Default",
        ),
        ThemeManifestEntry(
            path: "themes/light.theme.ron",
            name: "Light",
        ),
        ThemeManifestEntry(
            path: "themes/spooky.theme.ron",
            name: "Spooky",
        ),
    ]
)
